.main {
    width: 100%;
    text-align:center;
}

.main .center {
    width: 400px;
    margin: 0 auto;
}

.pad-bottom-1 {
    padding-bottom: 15px;
}

.selected-location {
    float:right;
    margin-top: 7px;
    color: white;
}

.song {
	max-width: 370px;
	white-space: normal;
}



ul {
    list-style-type: none;
}

@media (min-width: 250px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
