<div class="main">
    <div class="center container-fluid">
        <h1>
            Welcome to {{ title }}!
        </h1>

        <div class="row pad-bottom-1">
            <div class="btn-group col-md-6 col-sm-6 col-xs-6" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle" aria-controls="dropdown-basic">
                    Select Location <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li *ngFor="let location of locations" role="menuitem"><a class="dropdown-item" (click)="setLocation(location)">{{location.name}}</a></li>
                </ul>
            </div>
            <div class="selected-location">
                {{selectedLocation}}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" [value]="search" 
                    (keyup)="songTerm$.next($event.target.value)" 
                    placeholder="Search for your song" />
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let song of songs">
                <button type="button" class="btn btn-dark" (click)="openModal(template, song)">
                    <span class="song">{{song.name}} / {{song.title}}</span>
                </button>
            </li>
        </ul>

        <ng-template #template>
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    Selected Song: {{selectedSong.title}}
                    <div>by {{selectedSong.name}}</div>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <input id="singer" class="form-control" placeholder="Enter Your Name"/>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <button class="form-control btn-dark" type="submit" (click)="singIt()">Sing it!</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
